{
	"parserOptions": {
		"ecmaVersion": 8
	},
	"env": {
		"browser": true,
		"node"   : true,
        "es6"    : true
	},
	"globals": {
		"sap"	: true
	},
	"rules": {
		"brace-style"               : ["error", "1tbs", { "allowSingleLine": true }],
		"consistent-this"           : "error",
		"no-div-regex"              : "error",
		"no-floating-decimal"       : "error",
		"no-self-compare"           : "error",
		"no-mixed-spaces-and-tabs"  : ["error", "smart-tabs"],
		"no-nested-ternary"         : "error",
		"no-unused-vars"            : ["error", {"vars":"all", "args":"none"}],
		"radix"                     : "error",
		"wrap-iife"                 : ["error", "any"],
		"camelcase"                 : "warn",
		"consistent-return"         : "warn",
		"max-nested-callbacks"      : ["warn", 3],
		"new-cap"                   : "warn",
		"no-extra-boolean-cast"     : "warn",
		"no-lonely-if"              : "warn",
		"no-new"                    : "warn",
		"no-new-wrappers"           : "warn",
		"no-redeclare"              : "warn",
		"no-unused-expressions"     : "warn",
		"no-use-before-define"      : ["warn", "nofunc"],
		"no-warning-comments"       : "warn",
		"strict"                    : ["error", "function"],
		"valid-jsdoc"               : ["warn", { "requireReturn" : false }],
		"default-case"              : "error",
		"no-trailing-spaces"        : "warn",
		"block-scoped-var"          : "warn",
		"comma-dangle"              : "error",
		"no-cond-assign"            : "error",
		"no-console"                : "error",
		"no-constant-condition"     : "error",
		"no-control-regex"          : "error",
		"no-debugger"               : "error",
		"no-dupe-args"              : "error",
		"no-dupe-keys"              : "error",
		"no-duplicate-case"         : "error",
		"no-empty"                  : "error",
		"no-empty-character-class"  : "error",
		"no-ex-assign"              : "error",
		"no-extra-parens"           : ["error", "functions"],
		"no-extra-semi"             : "error",
		"no-func-assign"            : "error",
		"no-inner-declarations"     : "error",
		"no-invalid-regexp"         : "error",
		"no-irregular-whitespace"   : "error",
		"no-obj-calls"              : "error",
		"no-regex-spaces"           : "error",
		"no-sparse-arrays"          : "error",
		"no-unreachable"            : "error",
		"no-unsafe-negation"        : "error",
		"use-isnan"                 : "error",
		"valid-typeof"              : "error",

		"accessor-pairs"            : "error",
		"curly"                     : "error",
		"no-alert"                  : "error",
		"no-caller"                 : "error",
		"no-eval"                   : "error",
		"no-extend-native"          : "error",
		"no-extra-bind"             : "error",
		"no-fallthrough"            : "error",
		"no-implied-eval"           : "error",
		"no-iterator"               : "error",
		"no-labels"                 : "error",
		"no-lone-blocks"            : "error",
		"no-loop-func"              : "error",
		"no-global-assign"          : "error",
		"no-new-func"               : "error",
		"no-octal"                  : "error",
		"no-octal-escape"           : "error",
		"no-proto"                  : "error",
		"no-return-assign"          : "error",
		"no-script-url"             : "error",
		"no-sequences"              : "error",
		"no-void"                   : "error",
		"no-with"                   : "error",
		"yoda"                      : "error",

		"linebreak-style"           : ["warn", "unix"],
		"no-catch-shadow"           : "warn",
		"no-label-var"              : "error",
		"no-delete-var"             : "error",
		"no-shadow-restricted-names": "error",
		"no-undef-init"             : "error",
		"no-undef"                  : "error",

		"new-parens"                : "error",
		"no-array-constructor"      : "error",
		"no-new-object"             : "error",
		"func-call-spacing"         : "error",
		"quote-props"               : ["error", "as-needed", { "keywords": true, "unnecessary": false }],
		"semi"                      : "error",
		"semi-spacing"              : "warn",
		"keyword-spacing"           : "error",
		"space-infix-ops"           : "error",
		"space-unary-ops"           : "error"
	}
}