
body {
    background-color: #fafafa;
    font-family: "TypoPRO Open Sans", sans-serif;
    font-size: 11pt;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    position: relative;
    color: #000000;
}

h1 {
    font-weight: bold;
    font-size: 40pt;
    font-family: "TypoPRO Bebas Neue", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(132, 57, 0);
}

h2 {
    font-weight: bold;
    font-size: 20pt;
    font-family: "TypoPRO Bebas Neue", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(132, 57, 0);
}

a, a:visited {
    color: rgb(132, 57, 0);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    border-bottom: 1px solid rgb(132, 57, 0);
}

.caption {
    font-weight: normal;
    font-size: 12pt;
    font-family: "TypoPRO Bebas Neue", sans-serif;
    color: rgb(96, 163, 188);
}

textarea {
    width: calc(100% - 30px);
    height: 200px;
}

textarea, div[data-syntax="javascript"], div[data-syntax="console"] {
    font-family: "TypoPRO DejaVu Sans Mono", sans-serif;
    font-size: 10pt;
    margin: 5px;
    border: 0px;
    padding: 10px;
    -webkit-box-shadow: 0 0 4px 0 #999999;
    box-shadow: 0 0 4px 0 #999999;
    background-color: #ffffff;
    color: #000000;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.disabled div[data-syntax="javascript"] {
    background-color: #eeeeee;
}

.box-obj-output div[data-syntax="console"] {
    height: 210px;
    white-space: pre;
    overflow: auto;
}

.box-obj-output div[data-syntax="console"]#relationShipConsole, .box-obj-output div[data-syntax="console"]#biDirectionalConsole {
    height: 525px;
}

.box-obj-output div[data-syntax="console"].error {
    white-space: normal;
}

.syntax {
    background-color: #ffffff;
    font-family: "TypoPRO DejaVu Sans Mono";
    white-space: pre;
    line-height: 1.15;
}

.syntax .syntax-keyword {
    font-weight: bold;
    color: #6699cc;
}

.syntax .syntax-literal {
    color: #c08030;
}

.code textarea {
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    margin: 0 10px;
    height: 128px;
    background-color: #fff;
    box-shadow: none;
}

.code textarea#simpleExampleObjs {
    height: 157px;
}

.code {
    overflow: auto;
}

.box-arrow {
    text-align: center;
    font-size: 30pt;
    color: #cccccc;
}

.box-arrow i {
    margin-top: 113px;
}