.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.spinner-container {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 48%;
  top: 40%;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 33px 13px white;
}

.spinner {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: spinnerFrame 1s infinite linear;
  margin: auto;

  &::before {
    border-color: #f03355 rgba(0, 0, 0, 0);
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
  }

  &::after {
    margin: 8px;
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
  }
}

@keyframes spinnerFrame {
  100% {
    transform: rotate(1turn);
  }
}
