<mat-toolbar>
  <h2>Scenario Code:&nbsp;</h2>
  <h3 [innerText]="this.scenario.name" style="font-style: italic; font-weight: normal;"></h3>
  <span class="spacer"></span>
  <div>
    <label>Code-Style:&nbsp;</label>
    <mat-form-field>
      <mat-select [(value)]="selected" (valueChange)="this.generate()">
        <mat-option *ngFor="let style of this.codeStyles" [value]="style">
          {{style}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-mini-fab aria-label="Download-All" style="margin-left: 0.5rem"
      (click)="this.downloadAll()">
      <mat-icon>download_for_offline</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-tab-group *ngIf="this.codePages.length > 0; else emptyPages" color="primary" backgroundColor="primary">
  <mat-tab *ngFor="let page of this.codePages" [label]="page.title">
    <ng-template matTabContent>
      <button color="primary" mat-fab aria-label="Download-Page" class="float-button float-right"
        (click)="this.downloadPage(page)">
        <mat-icon>download</mat-icon>
      </button>
      <pre><code>{{page.code}}</code></pre>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #emptyPages>
  <p>Not able to generate Code!</p>
</ng-template>
