.float-button {
  position: fixed;
  margin: 1rem;
}

.float-top {
  top: 0;
}
.float-right {
  right: 0;
}
:host ::ng-deep .mat-tab-header {
  top: 0;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky; /* macOS/iOS Safari */
}
