<mat-toolbar>
  <h2>Journey Code:&nbsp;</h2>
  <h3 [innerText]="this.scenario.name" style="font-style: italic; font-weight: normal;"></h3>
  <span class="spacer"></span>
  <div>
    <label>Code-Style:&nbsp;</label>
    <mat-form-field>
      <mat-select [(value)]="selected" (valueChange)="this.generate()">
        <mat-option *ngFor="let style of this.codeStyles" [value]="style">
          {{style}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-mini-fab aria-label="Download-All" class="getAll"
      matTooltip="Download the entire test-setup" (click)="this.downloadAll()">
      <mat-icon>
        <span class="material-symbols-outlined">download</span>
      </mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- <mat-tab-group *ngIf="this.codePages.length > 0; else emptyPages" color="primary" backgroundColor="primary">
  <mat-tab *ngFor="let page of this.codePages" [label]="page.title">
    <ng-template matTabContent>
      <button color="primary" mat-fab aria-label="Download-Page" class="float-button float-right"
        (click)="this.downloadPage(page)">
        <mat-icon>download</mat-icon>
      </button>
      <pre><code>{{page.code}}</code></pre>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->
<mat-drawer-container *ngIf="this.codePages.length > 0; else emptyPages" autosize>
  <mat-drawer mode="side" [opened]="this.drawerOpen">
    <mat-tree #tree [dataSource]="this.testData" [treeControl]="this.treeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node">
        <button mat-icon-button color="primary" (click)="this.onFileClicked(node)" class="file-node"
          [class.active]="node.active">
          <mat-icon aria-hidden="false" fontIcon="description"></mat-icon>
          {{node.name}}
        </button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; let index; when: this.hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button color="primary" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name"
            *ngIf="!node.isRoot">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
            </mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="this.drawerOpen = !this.drawerOpen" matTooltip="Hide files"
            matTooltipPosition="above" *ngIf="node.isRoot">
            <mat-icon>file_copy</mat-icon>
          </button>
          {{node.name}}
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-drawer>
  <mat-drawer-content>
    <div class="splitter">
      <div class="left-sidebar" *ngIf="!this.drawerOpen">
        <button type="button" matSuffix mat-button aria-label="Export" (click)="this.drawerOpen = !this.drawerOpen"
          [disabled]="this.scenario.name === ''" color="primary" matTooltip="Show files" matTooltipPosition="above">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
      <button color="primary" mat-mini-fab aria-label="Copy Content" style="margin-left: 0.5rem"
        matTooltip="Copy the code" (click)="this.copyCode()" class="copyButton">
        <mat-icon>
          <span class="material-symbols-outlined">content_copy</span>
        </mat-icon>
      </button>
      <pre>
        <code>{{this.currContent}}</code>
      </pre>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #emptyPages>
  <p>Not able to generate Code!</p>
</ng-template>
