.mat-dialog-content.settings-dialog-content {
  padding: 1.5rem;

  > .mat-expansion-panel {
    box-shadow: none;

    .mat-expansion-panel-header[aria-disabled="true"] {
      .mat-expansion-panel-header-title {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
}
.radioBox {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  > mat-radio-group.radioGroup {
    display: flex;
    flex-direction: column;
    > * {
      margin: 0.5rem;
    }
  }
}
