header.object-header {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 4px 0px darkgrey;
  max-height: 2rem;
  align-items: center;
}

header.object-header>* {
  margin-right: 0.5rem;
  max-height: 1rem;
}
