<header class="object-header">
  <button type="button" pButton label="Back" icon="pi pi-chevron-left" class="p-button-raised p-button-text"
    (click)="this.navBack()"></button>
  <h3>{{this.tab?.title}}</h3>
</header>
<main>
  <app-simple-list [replay]="this.replay" [data]="this.scenarioSteps" (play)="this.performAction($event)">
  </app-simple-list>
</main>
<footer>
  <button *ngIf="this.replay" type="button" pButton label="Stop" icon="pi pi-stop" class="p-button-raised p-button-text"
    (click)="this.replayMode()"></button>
  <button *ngIf="!this.replay && this.scenario" type="button" pButton label="Replay" icon="pi pi-replay"
    class="p-button-raised p-button-text" (click)="this.replayMode()"></button>
  <button *ngIf="!this.replay && this.scenario" type="button" pButton label="Save" icon="pi pi-save"
    class="p-button-raised p-button-text" (click)="this.saveCurrentScenario()"></button>
</footer>
