.journey-line {
    margin-left: auto;
}

.sapUiSimpleForm.dialog-form .sapUiFormCLElement .sapUiFormElementLbl.sapUiFormCLCellsS12.sapUiFormCLCellsL4 {
    width: 20%;
}

.sapUiSimpleForm.dialog-form .sapUiFormCLElement .sapUiFormCLCellsS12.sapUiFormCLCellsL8 {
    width: 80%;
}