<mat-tab-group mat-align-tabs="center" (selectedIndexChange)="this.handleChange($event)">
  <mat-tab label="Tabs">
    <div class="list-header">
      <mat-form-field class="header-search" appearance="fill">
        <mat-label>Search</mat-label>
        <input #searchInputTabs matInput type="text" (ngModelChange)="this.searchChange($event)"
          [(ngModel)]="this.searchValueTabs" placeholder="Search tabs by URL or Tab-Title" />
        <button *ngIf="searchInputTabs.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="searchInputTabs.value=''" color="primary">
          <mat-icon>
            close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button color="primary" aria-label="reload tabs" (click)="this.refresh_table()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <mat-list role="list">
      <button mat-list-item *ngFor="let tab of this.elements" (click)="this.connect_to_page(tab)"
        (keydown)="this.checkKeyPress($event, tab)" class="list-item">
        <img matListItemAvatar [src]="tab.icon" alt="fav_icon" />
        <span matListItemTitle class="one-line-text no-wrap">{{tab.title}}</span>
        <div matListItemLine>
          <label>URL:&nbsp;&nbsp;</label>
          <span class="one-line-text no-wrap">{{tab.path}}</span>
        </div>
      </button>
    </mat-list>
  </mat-tab>
  <mat-tab label="Journeys">
    <ng-template matTabContent>
      <div class="list-header">
        <mat-form-field class="header-search" appearance="fill">
          <mat-label>Search</mat-label>
          <input #searchInputScenario matInput type="text" (ngModelChange)="this.searchChange($event)"
            [(ngModel)]="this.searchValueScenarios" placeholder="Search tabs by URL or Tab-Title" />
          <button *ngIf="searchInputScenario.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchInputScenario.value=''" color="primary">
            <mat-icon>
              close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="reload tabs" (click)="this.importScenario()">
          <mat-icon>file_upload</mat-icon>
        </button>
      </div>

      <mat-list role="list">
        <button mat-list-item *ngFor="let scen of this.scenarios" class="list-item">
          <div class="list-content-with-action">
            <div class="text-content" (click)="this.openExisting(scen)">
              <span matListItemTitle>{{scen.name}}</span>
              <div matListItemLine>
                <label>URL:&nbsp;&nbsp;</label>
                <span>{{scen.startUrl}}</span>
              </div>
              <div
                style="display: flex; justify-content: space-between; font-size: 0.7rem; border-top: 1px solid darkgray;">
                <div>
                  <label>Created:&nbsp;&nbsp;</label>
                  <span [innerText]="scen.creationDate | date:'medium'"></span>
                </div>
                <div>
                  <label>Latest Edit:&nbsp;&nbsp;</label>
                  <span [innerText]="scen.latestEdit | date:'medium'"></span>
                </div>
              </div>
            </div>
            <div>
              <button matSuffix mat-icon-button aria-label="Delete" color="primary" (click)="this.removeScenario(scen)">
                <mat-icon>
                  delete</mat-icon>
              </button>
            </div>
          </div>
        </button>
      </mat-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>