<h1 mat-dialog-title>Replay Setup</h1>
<div mat-dialog-content>
  <form [formGroup]="replayOptions">
    <mat-checkbox [formControl]="manualModeControl">Start in manual mode</mat-checkbox>
    <div>
      <label>Automatic replay delay:</label>
      <mat-radio-group [formControl]="delayControl">
        <mat-radio-button value="0.5">0.5 sec</mat-radio-button>
        <mat-radio-button value="1">1 sec</mat-radio-button>
        <mat-radio-button value="2">2 sec</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="this.abort()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="this.replayStart()">Start Testing</button>
</div>
