.radioBox {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  > mat-radio-group.radioGroup {
    display: flex;
    flex-direction: column;
    > * {
      margin: 0.5rem;
    }
  }
}

.content-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
}