button.p-button.stopButton {
  height: 15rem;
  width: 15rem;
  margin-top: auto;
  margin-bottom: auto;
}

:host ::ng-deep .stopButton>span.p-button-icon.pi.pi-stop-circle {
  font-size: 8rem;
}

.stopContainer {
  padding-top: 2rem;
}
