/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #a01441 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.space-even {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.center-cross {
  align-items: center;
}

.distance-right-1 {
  margin-right: 1rem;
}
