.mat-mdc-snack-bar-container.app-snack-class {
  background: white;
  border-radius: 10px;
  box-shadow: none;
  padding: 0;
  .mdc-snackbar__surface {
    background-color: white;
    border-radius: 10px;
  }
}

.container {
  background: transparent;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #0000008f;
  border-radius: 10px;
  margin: -1rem;

  &.error {
    background: rgb(181 71 71 / 63%);
    box-shadow: 0px 3px 5px -1px rgb(181 71 71 / 63%),
      0px 6px 10px 0px rgb(181 71 71 / 63%),
      0px 1px 18px 0px rgb(181 71 71 / 63%);
  }

  &.success {
    background: rgb(78 181 71 / 63%);
    box-shadow: 0px 3px 5px -1px rgb(78 181 71 / 63%),
      0px 6px 10px 0px rgb(78 181 71 / 63%),
      0px 1px 18px 0px rgb(78 181 71 / 63%);
  }

  &.warning {
    background: rgb(181 166 71 / 63%);
    box-shadow: 0px 3px 5px -1px rgb(181 166 71 / 63%),
      0px 6px 10px 0px rgb(181 166 71 / 63%),
      0px 1px 18px 0px rgb(181 166 71 / 63%);
  }

  mat-icon {
    margin: 0.2rem 0.4rem 0.2rem -0.3rem;
    height: 36px;
    width: 36px;
    font-size: 36px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;

    mat-icon.close-icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
      margin: auto;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;

    span.title {
      font-weight: bold;
      font-size: calc(1.2 * 1rem);
    }

    hr {
      width: 90%;
      margin: 0.2rem auto;
      border: 1px solid;
    }

    p {
      font-style: italic;
    }
  }
}