<div class="container" [class.info]="this.severity == 'info'" [class.warning]="severity == 'warn'"
  [class.error]="this.severity == 'error'" [class.success]="this.severity == 'success'">
  <mat-icon *ngIf="this.icon && this.icon !== ''">square</mat-icon>
  <div class="text">
    <span class="title" [class.lonely]="description && description.trim() !== ''">{{title}}</span>
    <hr *ngIf="description && description.trim() !== ''">
    <p *ngIf="description && description.trim() !== ''" class="description">{{description}}
    </p>
  </div>
</div>
