<div class="flex horizontal center-cross distance-left-1">
  <mat-icon class="distance-right-1">settings</mat-icon>
  <h1 style="margin: 0;" mat-dialog-title>Settings</h1>
</div>
<div mat-dialog-content class="settings-dialog-content">
  <mat-expansion-panel hideToggle expanded="true" disabled="true">
    <mat-expansion-panel-header>
      <mat-panel-title>General</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox [checked]="this.settings?.reloadPageDefault" (change)="this.reloadChanged($event)">Page reload at
      inject
    </mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded="true" disabled="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Replay</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-checkbox [checked]="this.settings?.manualReplayMode" (change)="this.manualReplayChanged($event)">Start in
        manual mode</mat-checkbox>
      <div class="radioBox">
        <label>Automatic replay delay:</label>
        <mat-radio-group class="radioGroup" (change)="this.replayDelayChanged($event)"
          [disabled]="!!this.settings?.manualReplayMode">
          <mat-radio-button [checked]="this.settings?.replayDelay === 0.5" value=0.5>0.5 sec</mat-radio-button>
          <mat-radio-button [checked]="this.settings?.replayDelay === 1" value=1>1 sec</mat-radio-button>
          <mat-radio-button [checked]="this.settings?.replayDelay === 2" value=2>2 sec</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded="true" disabled="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Code</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Framework</mat-label>
      <mat-select (selectionChange)="this.languageChanged($event)" [value]="this.settings?.codeStyle">
        <mat-option *ngFor="let lang of this.codeLanguages" [value]="lang.value">{{lang.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial color="primary" (click)="this.close()">Save</button>
</div>
