
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;

  .header-search {
    width: 80%;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
    .mat-mdc-form-field-focus-overlay {
      opacity: 0;
      background: transparent;
    }
  }
}

.list-item {
  border: none;
  border-bottom: 2px solid lightgray;

  &:hover {
    background-color: lightgray;
  }

  &:active {
    background-color: gray;
  }
}
