header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  background: rgba(128, 128, 128, 0.296);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header>.front-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header>.front-container>.action-container {
  color: #868282;
}

header>.front-container>.header-title {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

header>.front-container>.header-title>img {
  height: 3em;
}

header>.front-container>.header-title>* {
  margin-right: 0.3rem;
}
