.panel-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-right: 0.5rem;
  }
}


pre {
  background: #383838;
  color: white;
}


.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
