.ElementReveal {
    background-color: rgba(239, 250, 25,0.51) !important;
    -webkit-box-shadow: inset 0px 0px 10px 6px rgba(132,20,57,1);
    -moz-box-shadow: inset 0px 0px 10px 6px rgba(132,20,57,1);
    box-shadow: inset 0px 0px 10px 6px rgba(132,20,57,1);
}