.tab-list {
  list-style: none;
  margin: 1em;
  padding-left: 0;
}

.list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.list-item {
  margin: 0.2rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}

.list-item:hover,
.list-item:focus,
.list-item:focus-within,
.list-item:focus-visible {
  box-shadow: inset 0 0 6px 2px darkgrey;
}

.list-item:focus-visible {
  outline: none;
}

.list-item:active {
  background-color: #a0144170;
  box-shadow: inset 0 0 6px 2px #828080;
}

.item-header {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(0 0 0 / 12%);
  border-radius: 15px;
}

.item-header>* {
  margin-right: 1em;
}

img.item-icon {
  border: 1px solid lightgray;
  border-radius: 50%;
  overflow: hidden;
  max-height: 2rem;
  min-width: 2rem;
  box-shadow: 0 0 1px 1px lightgrey;
}

hr.item-header-bottom {
  width: 90%;
  background-color: lightgray;
  border: none;
  height: 1px;
}

.item-desc {
  display: flex;
  flex-direction: row;
}

.item-desc>* {
  margin-right: 2em;
}

.item-desc>span {
  max-width: 70%;
  overflow: hidden;
  line-break: anywhere;
  max-height: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  min-height: 2rem;
  border-bottom: 1px solid darkgray;
}

.header .list-search {
  margin-left: auto;
  display: flex;
  transform: translate(-2%);
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 25rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 0.3rem;
}
