<div class="header">
</div>
<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="Tabs">
    <div class="list-header">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" (change)="this.searchChange($event)" />
      </span>
      <div>
        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-rounded p-button-text"
          (click)="this.refresh_table()"></button>
      </div>
    </div>
    <ul class="tab-list">
      <li *ngFor="let tab of this.elements" class="list-item" tabindex="1" (click)="this.connect_to_page(tab)"
        (keydown)="this.checkKeyPress($event, tab)">
        <div class="item-header">
          <img [src]="tab.icon" alt="fav_icon" class="item-icon" />
          <span class="item-title">{{tab.title}}</span>
        </div>
        <hr class="item-header-bottom">
        <div class="item-desc">
          <label>URL:</label>
          <span>{{tab.path}}</span>
        </div>
      </li>
    </ul>
  </p-tabPanel>
  <p-tabPanel header="Scenarios">
    <ng-template pTemplate="content">
      <div class="table-header">
        <i class="pi pi-upload" style="font-size: 1rem;" (click)="this.importScenario()"></i>
      </div>
      <ul class="tab-list">
        <li *ngFor="let scen of this.scenarios" class="list-item" (click)="this.openExisting(scen)">
          <div class="item-header">
            {{scen.name}}
          </div>
          <hr class="item-header-bottom">
          <div class="item-desc">
            <label>URL:</label>
            <span>{{scen.startUrl}}</span>
          </div>
        </li>
      </ul>
    </ng-template>
  </p-tabPanel>
</p-tabView>
