<header>
  <mat-toolbar>
    <div class="front-container">
      <div *ngIf="this.appHeaderService.showBackButton$ | async" class="action-container">
        <button matSuffix mat-icon-button aria-label="Back" (click)="this.navBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div *ngIf=" this.title || this.icon || this.titleContentTemplate" class="header-title">
        <img *ngIf="this.icon && !this.titleContentTemplate" [src]="this.icon" alt="icon" />
        <h3 *ngIf="this.title && !this.titleContentTemplate" [innerHTML]="this.title"></h3>
        <ng-container *ngTemplateOutlet="this.titleContentTemplate"></ng-container>
      </div>
    </div>
    <span class="spacer"></span>
    <div *ngIf="this.actionButtonsTemplate" class="action-buttons">
      <ng-container *ngTemplateOutlet="this.actionButtonsTemplate"></ng-container>
    </div>
    <div>
      <button mat-icon-button aria-label="Settings" (click)="this.openSettingsDialog()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
